In [ ]:
import pandas as pd
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.model_selection import train_test_split

In [ ]:
dataset = pd.read_csv('../input/wine-dataset/wine_dataset.csv')

# Exibindo cabeçalho
dataset.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [ ]:
# Substitui os valores para facilitar a classificação
dataset['style'] = dataset['style'].replace('red', 0)
dataset['style'] = dataset['style'].replace('white', 1)

In [ ]:
y = dataset['style']
x = dataset.drop('style', axis = 1)

In [ ]:
# Prepara os conjuntos de treino e teste
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)
print(dataset.shape, x_treino.shape, x_teste.shape, y_treino.shape, y_teste.shape)

(6497, 13) (4547, 12) (1950, 12) (4547,) (1950,)

In [ ]:
# Modelo de classificação
modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

ExtraTreesClassifier()

In [ ]:
resultado = modelo.score(x_teste, y_teste)
print("Acurácia:", resultado)

Acurácia: 0.9964102564102564

In [ ]:
print(f'Amostra de dados real: \n{y_teste[407:411]}')

Amostra de dados real:
 4576    1
1972    1
1449    0
54      0
Name: style, dtype: int64

In [ ]:
previsoes = modelo.predict(x_teste[407:411])
print(f'Previsões: {previsoes}')

Previsões: [1 1 0 0]